 <h3>AACT 4.3.0 <i>(May 17, 2019)</i></h3>

 <h5>Add Criteria Table to Provide Info at More Granular Level</h5>
 <p>The Criteria table has been added to help people who need to analyze eligibility criteria and can benefit from this information being provided at a more granular level.  Criteria information made availalbe throught the ClinicalTrials.gov API is a blob of text.  We now parse this text to try to present the information criterium by criterium. </p>

 <h5>Improve AACT Installation Documentation</h5>
 <p>We have rewritten the README file in the <a href='https://github.com/ctti-clinicaltrials/aact' target='_blank'>AACT git repository</a> to make it easier for others to clone the code and setup their own instance of the tool that pulls data from ClinicalTrials.gov and populates a relational database. ave updated documentation in the ReadMe file that appears on the AACT main page in github. This documentation describes how to clone <a href='https://github.com/ctti-clinicaltrials/aact' target='_blank'>AACT from github</a> and create a local, working copy.</p>

